<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet prefetch' href='//fonts.googleapis.com/css?family=Fredoka+One|Righteous'>
    <link rel='stylesheet prefetch' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/hopscotch.min.css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
  </head>

  <body>
    <div id="main" role="main">
      {{ content }}
    </div>

  <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.10/lodash.min.js"></script>
  <script src='//rawgit.com/Kibibit/code-snippets/master/highlight.pack.js'></script>
  <script src='//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.3.0/highlightjs-line-numbers.min.js'></script>

  <script src="{{ site.baseurl }}/assets/snippets.js"></script>
  </body>
</html>